/*body{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	border: none;
	background: url("../img/background.jpg") #0074D9;
	width: 100vw;
	height: 100vh;
	background-size: 100vw 100vh;
}*/

/** Toontown font ImpressBT **/
@font-face {
    font-family: ImpressBT;
    src: url('font/ImpressBT.ttf')  format('truetype');
}

html{
	overflow: auto !important;
}

.hero-body{
	background: url("../img/background.jpg") #0074D9;
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
    background-attachment: fixed;
}

@media all and (max-width: 1024px) {
  .hero-body{
	background: #0074D9;
	background-size: 100vw 100vh;
  }	
}

.discord, .twitter{
	margin-top: 50px;
	display: inline-block;
	margin-left: 25px;
}

.tti-logo{
	width: auto;
	min-height: 150px;
	-webkit-animation: logozoom  5s linear infinite;
    animation: logozoom 5s linear infinite;
    margin-top: 75px;
}

h1.title{
	font-family: 'ImpressBT';
	margin-top: 50px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	font-size: 50px;
}

p.tagline{
	font-family: 'ImpressBT';
	font-size: 25px;
}

p.tag-smaller{
	font-family: 'ImpressBT';
	font-size: 20px;
	color: #eee;
}


@media screen and (max-height: 768px){
	.tti-logo{
		margin-top: 0px;
	}
	.discord, .twitter{
		margin-top: 20px;
	}
	h1.title{
		margin-top: 20px;
		font-size: 40px;
	}
	p.tagline{
		font-size: 20px;
	}
	p.tag-smaller{
		font-size: 17px;
	}

}

@-webkit-keyframes logozoom {
    0%{
      -webkit-transform: scale(1);
    }
    50%{
      -webkit-transform: scale(1.04); 
    }
    100%{
      -webkit-transform: scale(1); 
    }
} 

@keyframes logozoom  {
    0%{
      -webkit-transform: scale(1);
    }
    50%{
      -webkit-transform: scale(1.04); 
    }
    100%{
      -webkit-transform: scale(1); 
    }
}
